<% content_for :title, "Desmotes' Dashboard" %>

<!-- Navigation bar -->

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#index">Desmotes Dashboard Panel</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/users/show"><i class="fa fa-user fa-fw"></i> User Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
              <div class="sidebar-nav navbar-collapse">
                <ul class="nav in" id="side-menu">
                  <li>
                    <a href="#index" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                  </li>
                  <li>
                    <a href="#index"><i class="fa fa-bar-chart-o fa-fw"></i> Charts</a>
                    <!-- <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                                      <ul class="nav nav-second-level collapse">
                                            <li>
                                                <a href="flot.html">Flot Charts</a>
                                            </li>
                                            <li>
                                                <a href="morris.html">Morris.js Charts</a>
                                            </li>
                                        </ul> -->
                                        <!-- /.nav-second-level -->
                  </li>
                  <li>
                    <a href="#index"><i class="fa fa-table fa-fw"></i> Nodes</a>
                  </li>
                  <li>
                    <a href="#index"><i class="fa fa-edit fa-fw"></i> Keys</a>
                  </li>
                </ul>
              </div>
              <!-- /.sidebar-collapse -->
            </div>
        </nav>

        <!-- Meta to nav -->
        <div id="page-wrapper" style="min-height: 932px; background:#337ab7;">
             <div class="row">
                 <div class="col-lg-12">
                     <h1 class="page-header" style="color: #f8f8f8;">Dashboard</h1>
                 </div>
                 <!-- /.col-lg-12 -->

                 <h1 style="color: #f8f8f8;"> Hi <%= @user.username %> </h1>
             </div>
             <!-- /.row -->

             <hr>

             <!-- Footer -->
             <footer>
                 <div class="row">
                   <div class="col-md col-md-offset-5">
                     <p style="color: #f8f8f8;"> Desmotes' Copyright &copy; Website <%=Date.today.year%></p>
                   </div>
                 </div>
             </footer>
       </div>
